@model Employee
<div class="card" style="width: 18rem;">
    <img class="card-img-top" src="~/assets/images/@Model.ImageUrl" alt="Card image cap">
  <div class="card-body">
    <h5 class="card-title">@Model.Name @Model.Surname</h5>
    <p class="card-text">@Model.Position.Name</p>
    <a asp-action="index" asp-controller="employee" class="btn btn-primary">Go back</a>
  </div>
</div>